.app-wrapper {
display: grid;
grid-template-areas: "header header header"
                     "nav main main";

grid-template-columns: 2fr 10fr;
gap: 10px;
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
